<div class="well text-center">
    <h1><span class="head font-effect-fire-animation">Friday on Fire</span></h1>
    <a href="/shortcodes">
        <p class="help pull-right" style="margin-top:-29px;">Whats Next ....
            <h1></p>
        </div>{{Totalarray}}
         <div class="row jumbotron">
             <div class="col-md-6">
                 <a class="btn btn-primary"  href="#/dumbshell">Dumb Shell Arts</a></div>
             <div class="col-md-6">Human Knot</div>
             <div class="col-md-6">Ballon tap</div>
         </div>